[mysqld]
# added to avoid err "Got a packet bigger than 'max_allowed_packet' bytes"
#
net_buffer_length=1000000
max_allowed_packet=1000000000
collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8
default_time_zone='+00:00'

[client]
default-character-set=utf8

[mysql]
default-character-set=utf8
